@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --anchor-color: #303c57;
    --anchor-hover: #45ab55;
    --sooth-gray: #f1f9fc;
    --gray-color: #e3e3e3;
    --light-yellow: #D6D58E;
    --light-green: #9fdb44;
    --dark-green: #74c100;
    --dark-gray: #303c57;
    --light-gray: #9297a3;
    --white: #ffffff;
    --nav-hover: #444c5b;
    --nav-dropdown-hover: #283147;
    --nav-dropdown-content-hover: #373f53;
    --active-color: #313846;

    --font-color: #373f53;
    --font-hover: #222f52;
    --sub-header-color: #646875;

    --mobile: 360px;
}


html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--light-gray);
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark-gray);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--light-green);
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0; margin: 0;
    transition: .3s linear;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    min-width: var(--mobile);
    max-width: 2000px;
    margin: auto;
    box-shadow: 0px 0px 10px 1px #0000006b;
}


/* GLOBAL CSS */
h2{
    font-size: 1.8rem;
    color: var(--dark-gray);
}
h3{
    color: var(--light-gray);
    margin: 1rem 0;
}
p{
    font-size: 1.3rem;
    margin: 1.5rem 0;
}
a.btn, button.btn{
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--light-green);
    background-color: var(--dark-gray);
    padding: .5rem;
    margin: .5rem 0;
    border: 3px solid transparent;
}
a.btn:hover, button.btn:hover{
    border: 3px solid var(--light-green);
    background-color: #283248;    
}


/* HEADER */
header.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse;

    padding: 1rem 7%;

    background-color: var(--dark-gray);
}
header.container a{
    color: var(--light-gray);
}
header.container > a:nth-of-type(1){
    color: var(--light-green);
}




/* NAVBAR */
nav.navbar{
    display: flex;
    gap: 1rem;
}
nav.navbar a:hover{
    color: var(--light-green);
}








main.container{
    display: grid;
    grid-template-columns: 1fr 350px;

    padding: 1rem 4%;    
}






/* MAIN-COLUMN */
section.main-column{
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid lightgray;
}




/* SIDE-COLUMN */
section.side-column{
    padding: 1rem;
    border: 1px solid lightgray;
}

/* PICTURE BOX IN SIDE-COLUMN */
section.side-column .picture-container{
    position: relative;
    height: 500px;
}
section.side-column .picture-container .picture-box{
    overflow: hidden;
    height: 100%;
    box-shadow: 0px 0px 10px 1px #0000003c;
}
section.side-column .picture-container img{
    height: 100%;
    transform: scale(1.5) translateX(-30%);
}
section.side-column .picture-container .paragraph{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    z-index: 10;
    padding: 1rem .5rem;

    color: var(--light-green);
    background-color: #000000d3;
}
section.side-column .picture-container .paragraph .ref{
    display: block;
    margin: .5rem auto;
}



/* TABLE CSS */
table{
    margin-top: .5rem;
    border: 1px solid lightgray;
}
table *{
    border: 1px solid lightgray;
}
thead tr th{
    color: var(--light-green);
    background-color: var(--dark-gray);
    padding: .5rem .1rem;

    border: 3px solid transparent;
}
tbody tr td{
    padding: .3rem;
    text-align: center;

    color: var(--font-color);
}
thead tr th:hover{
    border: 3px solid var(--light-green);
}
tbody tr td:hover{
    background-color: var(--light-yellow);
}
tbody tr td.td-anchor:hover{
    background-color: transparent;
}
.table-anchor{
    padding: .5rem 0;
    border-radius: 5px;
}
tbody tr td.nome{
    width: 350px;
}
tbody tr td.valor-parcela{
    width: 180px;
}
.total-row td:nth-of-type(1){
    text-align: right;
    color: var(--font-color);
    font-weight: bold;
}
.total-row .total-price{
    color: var(--font-color);
    font-weight: bold;
}







.box{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.box a{
    background-color: var(--dark-gray);
    color: var(--light-green);
    font-size: 1.4rem;
    padding: .5rem 1rem;
    border: 3px solid transparent;
}
.box a:hover{
    border: 3px solid var(--dark-green);
}






/* FORMULÁRIO CADASTRO */
form{
    padding: 0 1rem 1rem;
}
fieldset{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    padding: 1rem .5rem;
    margin: 2rem 0 0;
    border: 1px solid lightgray;

    color: var(--font-color);
}
fieldset legend{
    color: var(--font-color);
    font-size: 1.3rem;
}
fieldset .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: .7rem 1rem;
}
fieldset input{
    font-size: 1.3rem;
    color: var(--font-color);
    outline: 3px solid transparent;
    padding: .3rem .5rem;
    width: 100%;
}
fieldset input:disabled{
    background-color: var(--gray-color);
}
fieldset input:focus{
    outline: 3px solid var(--dark-green);
}
fieldset select{
    font-size: 1.2rem;
    padding: .3rem 5rem;
    color: var(--font-color);
    background-color: var(--gray-color);
    border: 1px solid lightgray;
    width: 100%;
}
fieldset .box.sexo{
    display: flex;
    justify-content: left;
}
fieldset .box.sexo .input-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: .5rem;
    margin: 0 .7rem;
}
.sexo input{
    width: 100%;
}
.sexo p{
    font-size: 1rem;
}
form button.btn{
    display: block;
    margin: .7rem auto;
}





.error-msg{
    display: block;
    width: fit-content;
    padding: .5rem 1rem;
    color: #942e2e;
    background-color: #ffadad;
    border-radius: 7px;
    margin: .5rem 0;
}
.success-msg{
    display: block;
    width: fit-content;
    padding: .5rem 1rem;
    color: #38942e;
    background-color: #b5ffad;
    border-radius: 7px;
    margin: .5rem 0;
}





footer{
    margin-top: 2rem;
    padding: 5rem 7%;
    background-color: var(--dark-gray);
}
footer .copyright{
    color: var(--gray-color);
}