<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Usuários</h2>
                <a href="/cadastrar" class="btn">Cadastrar Usuário</a>
                <table class="usuarios">
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Nome</th>
                            <th>Aposentado</th>
                            <th>Data de Cadastro</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>

        <%- include('../partials/sidecolumn') %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>