<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IPMA - Painel</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="script/index.js" defer></script>
    </head>
<body>
    <%- include('../partials/header') %>

    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Painel</h2>
                <h3>Selecione uma opção:</h3>

                <div class="box">
                    <a href="/usuarios">Consultar Usuários Cadastrados</a>
                    <a href="/parcelamentos">Consultar Parcelamentos</a>                    
                    <a href="/parcelamentos/pagamentos">Consultar Pagamentos</a>
                    <a href="/usuarios/cadastrar-usuario">Cadastrar Usuário</a>
                    <a href="/parcelamentos/cadastrar">Cadastrar Novo Parcelamento</a>
                    <a href="/parcelamentos/cadastrar">Adicionar Pagamento</a>
                </div>

            </article>
        </section>

        <%- include('../partials/sidecolumn') %>
    </main>

        <%- include('../partials/footer') %>
</body>
</html>