<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Painel</h2>
                <h3>Selecione uma opção:</h3>

                <div class="box">
                    <a href="/usuarios">Consultar Usuários Cadastrados</a>
                    <a href="/parcelamentos">Consultar Parcelamentos</a>                    
                    <a href="/parcelamentos/pagamentos">Consultar Pagamentos</a>
                    <a href="/usuarios/cadastrar-usuario">Cadastrar Usuário</a>
                    <a href="/parcelamentos/cadastrar">Cadastrar Novo Parcelamento</a>
                    <a href="/parcelamentos/cadastrar">Adicionar Pagamento</a>
                </div>

            </article>
        </section>

        <%- include('../partials/sidecolumn') %>
    </main>

        <%- include('../partials/footer') %>
</body>
</html>