<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Atualizar Parcelamento</h2>
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum repellendus unde, nesciunt voluptate illum mollitia eos soluta quam distinctio facere, vitae fugiat quis velit, corporis libero maiores. Nisi, unde.</p>
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum repellendus unde, nesciunt voluptate illum mollitia eos soluta quam distinctio facere, vitae fugiat quis velit, corporis libero maiores. Nisi, unde.</p>
            </article>
        </section>

        <%- include('../partials/sidecolumn') %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>