<article class="post">
    <h2 class="title">Olá, seja bem-vindo(a) ao sistema do IPMA.</h2>
    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum repellendus unde, nesciunt voluptate illum mollitia eos soluta quam distinctio facere, vitae fugiat quis velit, corporis libero maiores. Nisi, unde.</p>
    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum repellendus unde, nesciunt voluptate illum mollitia eos soluta quam distinctio facere, vitae fugiat quis velit, corporis libero maiores. Nisi, unde.</p>
</article>