<section class="side-column">
    <div class="picture-container">
        <div class="picture-box">
            <img src="/imgs/mountain.jpg" alt="Montanha">
        </div>
        <p class="paragraph">
            Os céus declaram a glória de Deus e o firmamento anuncia a obra das suas mãos. 
            <span class="ref">Salmos 19:1</span>
        </p>
    </div>
</section>