<header class="container">
    <a href="/">
        <h1 class="main-title">IPMA</h1>
    </a>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/painel">Painel</a>
        <a href="/sobre">Sobre</a>
    </nav>
</header>