<header class="container">
    <div class="picture-box">
        <a href="/">
            <img src="/imgs/brasão.png" alt="brasão">
        </a>
        <div class="anchor-container">
            <a href="/">
                <h1 class="main-title">IPMA</h1>
            </a>
            <a href="/">
                <small>Application Server</small>
            </a>
        </div>
    </div>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/painel">Painel</a>
        <a href="/sobre">Sobre</a>
    </nav>
</header>